.gallery {
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    border-width: 1px;
    width: 33.333%;
}

.gallery img {
    width: 100%;
    
    background: #FFFFFF;
    border: 6px solid #FFFFFF;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.09);

    image-rendering: crisp-edges;
}

@media(max-width:768px) {
    .gallery {
        width: 50%;
    }
}
