@font-face {
    font-family: Augie;
    src: local("Augie"), url("./asset/augie.ttf") format("truetype");
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 80px;
}

@media(max-width:768px) {
    .main {
        width: 100%;
    }
    .main section img {
        width: 85%;
    }
}
