.nav {
    width: 60%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 20%;
    background-color: white;

    /*vetical center align*/
    display: flex;
    align-items: center;
    
    z-index: 1;
}

.nav a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: Futura, Trebuchet MS, Arial, sans-serif;*/
    font-size: 18px;
    text-decoration: none;
    
    letter-spacing: 2px;
}

.logo {
    padding-left: 8px;
    font-weight: bold;
    color: rgba(0, 0, 0, .47);
}

.logo img {
    vertical-align: middle;
}

.menu {
    margin-left: auto;
}

.menu a {
    padding: 0 16px;
    vertical-align: middle;
    color: rgba(0, 0, 0, .5);
}

.menu a:hover {
    color: #5EB7F1;
}

a.active {
    color: #5EB7F1;
}

@media(max-width:768px) {
    .logTitle {
        max-width: 50%;
    }
    .nav {
        width: 100%;
        left: 0;
    }
    .menu a {
        padding: 0 10px;
    }

    .menu a:first-child {
        display: none;
    }
}
